node_modules/
.env
dist/
auth.json
src/config/config.json
src/MenuManager.ts
src/operations/printer/reports/
src/operations/invoicer/pendingToInvoice.json
src/operations/invoicer/*-registerCard.pdf
src/operations/invoicer/genericList.txt
temp/
.vscode
